<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
	</head>
	<body>
		<header>
			<h1>Edit <%=player.name%>'s Info</h1>
			<nav>
				<div class="w3-bar w3-black">
					<a href="/" class="w3-bar-item w3-button w3-hover-red">Home</a>
					<a href="/teams" class="w3-bar-item w3-button w3-hover-red">Teams</a>
					<a href="/players" class="w3-bar-item w3-button w3-hover-red">Players</a>
				</div>
			</nav>
		</header>
		<main>
			<h2>Player Attributes:</h2>
			<form action="/players/<%=player._id%>?_method=PUT" method="post">
				<input type="text" name="name" value="<%=player.name%>"/><br/>
				<input type="text" name="position" value="<%=player.position%>"/><br/>
                <input type="text" name="number" value="<%=player.number%>"/><br/>
                <input type="text" name="img" value="<%=player.img%>"/><br/>
				<input type="submit" value="Update Player"/>
			</form>
		</main>
	</body>
</html>
