<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Edit <%=team.name%>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/teams">Team Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Author Attributes:</h2>
			<form action="/teams/<%=team._id%>?_method=PUT" method="post">
                <input type="text" name="location" value="<%=team.location%>"/><br/>
				<input type="text" name="name" value="<%=team.name%>"/><br/>
                <input type="text" name="record" value="<%=team.record%>"/><br/>
                <input type="text" name="championships" value="<%=team.championships%>"/><br/>
				<input type="submit" value="Update Team"/>
			</form>
		</main>
	</body>
</html>
